# Reading CSV epidemic Finland

In [1]:
import pandas as pd
import numpy as np

In [2]:
csv_file = 'stats/epidemic_finland.csv'
epidemic_finland = pd.read_csv(csv_file, sep=",", encoding='utf-8')
epidemic_finland

,date,erva,age,susceptible,infected detected,infected undetected,infected,exposed,recovered detected,recovered undetected,recovered,First dose,Second dose,First dose cumulative,Second dose cumulative
0,2020-01-01,HYKS,0-14,344271,0,0,0,0,0,0,0,0,0,0,0
1,2020-01-02,HYKS,0-14,344271,0,0,0,0,0,0,0,0,0,0,0
2,2020-01-03,HYKS,0-14,344271,0,0,0,0,0,0,0,0,0,0,0
3,2020-01-04,HYKS,0-14,344271,0,0,0,0,0,0,0,0,0,0,0
4,2020-01-05,HYKS,0-14,344271,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13153,2021-12-27,Åland,65+,6901,0,0,0,0,15,15,30,0,0,5015,371
13154,2021-12-28,Åland,65+,6901,0,0,0,0,15,15,30,0,0,5015,371
13155,2021-12-29,Åland,65+,6901,0,0,0,0,15,15,30,0,0,5015,371
13156,2021-12-30,Åland,65+,6901,0,0,0,0,15,15,30,0,0,5015,371
13157,2021-12-31,Åland,65+,6901,0,0,0,0,15,15,30,0,0,5015,371

In [3]:
epidemic_date = epidemic_finland.loc[(epidemic_finland['date'] == '2021-04-13'), ]
epidemic_date

,date,erva,age,susceptible,infected detected,infected undetected,infected,exposed,recovered detected,recovered undetected,recovered,First dose,Second dose,First dose cumulative,Second dose cumulative
468,2021-04-13,HYKS,0-14,335337,221,221,442,250,4121,4121,8242,0,0,0,0
1199,2021-04-13,HYKS,15-64,1317568,1271,1271,2542,1480,44844,44844,89688,294,23,123389,23137
1930,2021-04-13,HYKS,65+,436913,46,46,92,54,2787,2787,5574,679,50,309992,18438
2661,2021-04-13,KYS,0-14,208313,17,17,34,16,377,377,754,0,0,0,0
3392,2021-04-13,KYS,15-64,464290,106,106,212,116,4685,4685,9370,112,31,40800,12823
4123,2021-04-13,KYS,65+,113593,2,2,4,2,265,265,530,412,23,132151,3655
4854,2021-04-13,OYS,0-14,167488,9,9,18,8,300,300,600,0,0,0,0
5585,2021-04-13,OYS,15-64,432835,67,67,134,78,3852,3852,7704,17,28,34687,8687
6316,2021-04-13,OYS,65+,127130,3,3,6,2,280,280,560,156,14,105093,1350
7047,2021-04-13,TAYS,0-14,213892,21,21,42,26,503,503,1006,0,0,0,0
7778,2021-04-13,TAYS,15-64,536740,131,131,262,128,5518,5518,11036,180,50,46319,8933
8509,2021-04-13,TAYS,65+,138849,5,5,10,4,343,343,686,316,33,148032,3718
9240,2021-04-13,TYKS,0-14,211967,53,53,106,62,1021,1021,2042,0,0,0,0
9971,2021-04-13,TYKS,15-64,502663,268,268,536,316,10536,10536,21072,87,33,45481,11709
10702,2021-04-13,TYKS,65+,129078,8,8,16,12,567,567,1134,472,33,149288,2594
11433,2021-04-13,Åland,0-14,4918,1,1,2,0,27,27,54,0,0,0,0
12164,2021-04-13,Åland,15-64,17628,9,9,18,8,285,285,570,1,0,1625,440
12895,2021-04-13,Åland,65+,6901,0,0,0,0,15,15,30,2,0,5005,371

In [4]:
epidemic_date_erva = epidemic_finland.loc[(epidemic_finland['date'] == '2021-04-13') & (epidemic_finland['erva'] == 'HYKS')]
epidemic_date_erva

,date,erva,age,susceptible,infected detected,infected undetected,infected,exposed,recovered detected,recovered undetected,recovered,First dose,Second dose,First dose cumulative,Second dose cumulative
468,2021-04-13,HYKS,0-14,335337,221,221,442,250,4121,4121,8242,0,0,0,0
1199,2021-04-13,HYKS,15-64,1317568,1271,1271,2542,1480,44844,44844,89688,294,23,123389,23137
1930,2021-04-13,HYKS,65+,436913,46,46,92,54,2787,2787,5574,679,50,309992,18438

In [5]:
epidemic_date_erva['First dose cumulative']

468          0
1199    123389
1930    309992
Name: First dose cumulative, dtype: int64

In [6]:
epidemic_range = epidemic_finland.loc[(epidemic_finland['date'] <= '2021-04-13') & (epidemic_finland['date'] >= '2021-01-01')]
epidemic_range

,date,erva,age,susceptible,infected detected,infected undetected,infected,exposed,recovered detected,recovered undetected,recovered,First dose,Second dose,First dose cumulative,Second dose cumulative
366,2021-01-01,HYKS,0-14,341833,70,70,140,150,1074,1074,2148,0,0,0,0
367,2021-01-02,HYKS,0-14,341835,66,66,132,140,1082,1082,2164,0,0,0,0
368,2021-01-03,HYKS,0-14,341835,75,75,150,116,1085,1085,2170,0,0,0,0
369,2021-01-04,HYKS,0-14,341843,70,70,140,96,1096,1096,2192,0,0,0,0
370,2021-01-05,HYKS,0-14,341825,58,58,116,98,1116,1116,2232,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12891,2021-04-09,Åland,65+,6901,0,0,0,0,15,15,30,80,1,4840,371
12892,2021-04-10,Åland,65+,6901,0,0,0,0,15,15,30,80,0,4920,371
12893,2021-04-11,Åland,65+,6901,0,0,0,0,15,15,30,80,0,5000,371
12894,2021-04-12,Åland,65+,6901,0,0,0,0,15,15,30,3,0,5003,371
12895,2021-04-13,Åland,65+,6901,0,0,0,0,15,15,30,2,0,5005,371

In [7]:
epidemic_range_erva_age = epidemic_range[(epidemic_range['age'] == '65+') & (epidemic_range['erva'] == 'HYKS')]
epidemic_range_erva_age

,date,erva,age,susceptible,infected detected,infected undetected,infected,exposed,recovered detected,recovered undetected,recovered,First dose,Second dose,First dose cumulative,Second dose cumulative
1828,2021-01-01,HYKS,65+,439185,85,85,170,168,1555,1555,3110,3,0,15,0
1829,2021-01-02,HYKS,65+,439173,81,81,162,172,1563,1563,3126,3,0,18,0
1830,2021-01-03,HYKS,65+,439165,84,84,168,156,1572,1572,3144,2,0,20,0
1831,2021-01-04,HYKS,65+,439167,86,86,172,130,1582,1582,3164,150,0,170,0
1832,2021-01-05,HYKS,65+,439151,78,78,156,128,1599,1599,3198,150,0,320,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1926,2021-04-09,HYKS,65+,436907,66,66,132,96,2749,2749,5498,5959,94,296716,18150
1927,2021-04-10,HYKS,65+,436903,55,55,110,94,2763,2763,5526,5959,94,302675,18244
1928,2021-04-11,HYKS,65+,436903,48,48,96,92,2771,2771,5542,5959,94,308634,18338
1929,2021-04-12,HYKS,65+,436917,47,47,94,66,2778,2778,5556,679,50,309313,18388
1930,2021-04-13,HYKS,65+,436913,46,46,92,54,2787,2787,5574,679,50,309992,18438

In [8]:
first_dose_hyks_65 = np.sum(epidemic_range_erva_age['First dose'].values)
first_dose_hyks_65

309980