# Reading CSV epidemic Finland

In [1]:
import pandas as pd
import numpy as np

In [2]:
csv_file = 'out/epidemic_finland_9.csv'
epidemic_finland = pd.read_csv(csv_file, sep=",", encoding='utf-8')
epidemic_finland

,date,erva,age,susceptible,infected detected,infected undetected,infected,exposed,recovered,First dose,Second dose,ward,icu,death,First dose cumulative,Second dose cumulative
0,2020-01-01,HYKS,0-9,221613.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2020-01-02,HYKS,0-9,221613.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2020-01-03,HYKS,0-9,221613.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2020-01-04,HYKS,0-9,221613.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2020-01-05,HYKS,0-9,221613.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39469,2021-12-27,Åland,80+,121.065847,0.0,0.0,0.0,0.0,13.934153,0.0,0.0,0.0,0.0,0.0,1577.0,573.0
39470,2021-12-28,Åland,80+,121.065847,0.0,0.0,0.0,0.0,13.934153,0.0,0.0,0.0,0.0,0.0,1577.0,573.0
39471,2021-12-29,Åland,80+,121.065847,0.0,0.0,0.0,0.0,13.934153,0.0,0.0,0.0,0.0,0.0,1577.0,573.0
39472,2021-12-30,Åland,80+,121.065847,0.0,0.0,0.0,0.0,13.934153,0.0,0.0,0.0,0.0,0.0,1577.0,573.0
39473,2021-12-31,Åland,80+,121.065847,0.0,0.0,0.0,0.0,13.934153,0.0,0.0,0.0,0.0,0.0,1577.0,573.0

In [3]:
epidemic_date = epidemic_finland.loc[(epidemic_finland['date'] == '2021-04-13'), ]
epidemic_date

,date,erva,age,susceptible,infected detected,infected undetected,infected,exposed,recovered,First dose,Second dose,ward,icu,death,First dose cumulative,Second dose cumulative
468,2021-04-13,HYKS,0-9,171783.932258,108.476110,1084.761099,1193.237209,1072.697759,47563.132775,0.000000,0.000000,0.00,0.00,0.34080,0.000000,0.000000
1199,2021-04-13,HYKS,10-19,210477.420330,131.034263,345.369508,476.403772,458.390477,25528.928279,82.428571,8.857143,0.00,0.00,0.11360,1371.857143,225.714286
1930,2021-04-13,HYKS,20-29,231304.956679,135.017903,216.472496,351.490399,370.710019,29001.088618,519.857143,87.142857,2.04,0.00,0.68160,11643.714286,3361.285714
2661,2021-04-13,HYKS,30-39,275129.287428,144.359856,187.276067,331.635923,330.884650,22295.560570,820.285714,121.000000,3.06,0.00,0.14768,18082.571429,5278.000000
3392,2021-04-13,HYKS,40-49,241332.412919,117.065912,137.166407,254.232319,262.288231,17276.986531,1111.000000,130.285714,4.08,0.00,3.63520,26858.000000,5908.571429
4123,2021-04-13,HYKS,50-59,229566.101762,91.378072,101.397258,192.775330,171.296831,13656.864649,1431.285714,154.857143,8.16,0.23,11.92800,45532.571429,6682.714286
4854,2021-04-13,HYKS,60-69,160621.392358,41.000828,44.077591,85.078419,83.820213,6689.699009,4106.000000,103.285714,16.32,0.69,32.66000,88509.000000,3804.571429
5585,2021-04-13,HYKS,70-79,38892.513238,17.625396,18.577709,36.203105,36.876221,3205.397436,2233.000000,88.857143,43.86,1.15,118.82560,169873.000000,3156.714286
6316,2021-04-13,HYKS,80+,9655.752291,12.041660,12.528618,24.570278,25.809061,2619.026941,152.285714,257.142857,53.04,0.23,398.33840,93819.571429,14763.285714
7047,2021-04-13,KYS,0-9,67251.681197,9.003812,90.038120,99.041932,90.418968,4468.857903,0.000000,0.000000,0.00,0.00,0.04800,0.000000,0.000000
7778,2021-04-13,KYS,10-19,81038.899214,10.846388,28.588032,39.434421,38.638278,2679.456659,10.285714,4.142857,0.00,0.00,0.01600,416.571429,105.285714
8509,2021-04-13,KYS,20-29,85504.378967,11.131185,17.846488,28.977674,31.247588,3107.438629,59.428571,28.000000,0.10,0.00,0.09600,3793.857143,1651.000000
9240,2021-04-13,KYS,30-39,83247.052020,11.930947,15.477854,27.408801,27.890660,2260.212805,93.142857,39.285714,0.15,0.00,0.02080,5827.285714,2887.571429
9971,2021-04-13,KYS,40-49,76241.955865,9.660871,11.319665,20.980536,22.108587,1741.326441,193.714286,57.428571,0.20,0.00,0.51200,7275.428571,3187.857143
10702,2021-04-13,KYS,50-59,88022.545003,7.588049,8.420043,16.008092,14.438813,1399.395235,309.571429,93.714286,0.40,0.07,1.68000,13934.142857,3862.428571
11433,2021-04-13,KYS,60-69,87158.476534,3.390454,3.644879,7.035334,7.065305,694.127113,1676.142857,73.142857,0.80,0.21,4.60000,31855.285714,2261.285714
12164,2021-04-13,KYS,70-79,24010.413733,1.455367,1.534002,2.989369,3.108340,331.702843,1614.142857,56.714286,2.15,0.35,16.73600,71240.285714,938.428571
12895,2021-04-13,KYS,80+,5868.648612,0.992927,1.033080,2.026007,2.175476,261.337047,69.571429,194.714286,2.60,0.07,56.10400,47115.142857,2986.428571
13626,2021-04-13,OYS,0-9,76731.707585,5.307546,53.075462,58.383008,73.979156,3443.930252,0.000000,0.000000,0.00,0.00,0.03300,0.000000,0.000000
14357,2021-04-13,OYS,10-19,88961.530772,6.405629,16.883439,23.289068,31.613136,2125.709880,8.428571,5.142857,0.00,0.00,0.01100,328.857143,60.285714
15088,2021-04-13,OYS,20-29,78755.039704,6.591854,10.568636,17.160490,25.566208,2500.113597,47.000000,50.857143,0.12,0.00,0.06600,3213.000000,1297.714286
15819,2021-04-13,OYS,30-39,81459.183834,7.053554,9.150479,16.204032,22.819631,1903.755360,78.428571,81.000000,0.18,0.00,0.01430,5045.857143,2208.000000
16550,2021-04-13,OYS,40-49,74212.813965,5.717236,6.698899,12.416135,18.088844,1465.726770,180.857143,93.000000,0.24,0.00,0.35200,6638.714286,2273.000000
17281,2021-04-13,OYS,50-59,77536.616561,4.471617,4.961909,9.433526,11.813575,1200.503481,338.571429,140.571429,0.48,0.01,1.15500,12466.142857,2765.142857
18012,2021-04-13,OYS,60-69,74884.533038,2.003688,2.154047,4.157735,5.780704,595.395665,1507.571429,102.428571,0.96,0.03,3.16250,24831.142857,1424.857143
18743,2021-04-13,OYS,70-79,16730.315275,0.860942,0.907459,1.768402,2.543188,287.028850,689.857143,83.571429,2.58,0.05,11.50600,58644.714286,473.142857
19474,2021-04-13,OYS,80+,5272.140170,0.587934,0.611710,1.199643,1.779935,243.893108,60.428571,332.142857,3.12,0.01,38.57150,36738.857143,1542.285714
20205,2021-04-13,TAYS,0-9,81936.244543,16.138369,161.383688,177.522057,221.937467,5735.295933,0.000000,0.000000,0.00,0.00,0.04620,0.000000,0.000000
20936,2021-04-13,TAYS,10-19,96974.603675,19.529612,51.474571,71.004183,94.839409,3199.124162,22.714286,5.571429,0.00,0.00,0.01540,524.428571,68.142857
21667,2021-04-13,TAYS,20-29,97240.625403,20.176397,32.348563,52.524960,76.698625,3659.791012,101.000000,57.428571,0.36,0.00,0.09240,4245.000000,1357.857143
22398,2021-04-13,TAYS,30-39,103327.115095,21.537486,27.940286,49.477772,68.458893,2730.122525,186.142857,86.428571,0.54,0.00,0.02002,6633.285714,2326.857143
23129,2021-04-13,TAYS,40-49,95335.018947,17.482306,20.484060,37.966366,54.266531,2113.599585,415.714286,112.000000,0.72,0.00,0.49280,9409.428571,2399.000000
23860,2021-04-13,TAYS,50-59,97170.925505,13.590597,15.080744,28.671341,35.440724,1662.635288,709.428571,154.571429,1.44,0.03,1.61700,16257.857143,2508.142857
24591,2021-04-13,TAYS,60-69,81271.972013,6.114857,6.573725,12.688582,17.342113,815.884436,2216.571429,98.857143,2.88,0.09,4.42750,35775.142857,1484.714286
25322,2021-04-13,TAYS,70-79,17938.761549,2.631148,2.773311,5.404460,7.629563,394.885857,725.714286,112.000000,7.74,0.15,16.10840,81690.428571,937.000000
26053,2021-04-13,TAYS,80+,6443.730033,1.799227,1.871987,3.671214,5.339806,295.154662,69.857143,377.571429,9.36,0.03,54.00010,48855.714286,3428.142857
26784,2021-04-13,TYKS,0-9,70835.037332,24.501687,245.016872,269.518559,356.195935,11351.248174,0.000000,0.000000,0.00,0.00,0.05820,0.000000,0.000000
27515,2021-04-13,TYKS,10-19,85967.857756,29.818390,78.592900,108.411291,152.211397,6129.090985,49.714286,4.714286,0.00,0.00,0.01940,643.428571,78.428571
28246,2021-04-13,TYKS,20-29,91054.424064,31.058817,49.796209,80.855026,123.096558,7090.650067,230.857143,31.142857,0.26,0.00,0.11640,5222.714286,1760.285714
28977,2021-04-13,TYKS,30-39,93401.417830,32.987988,42.794866,75.782853,109.872297,5157.251305,319.142857,39.428571,0.39,0.00,0.02522,7348.285714,2784.857143
29708,2021-04-13,TYKS,40-49,87915.290426,26.857264,31.468719,58.325983,87.094432,3983.769159,493.000000,44.571429,0.52,0.00,0.62080,9934.000000,2989.142857
30439,2021-04-13,TYKS,50-59,92331.263361,20.614318,22.874583,43.488901,56.880174,3083.144708,857.571429,59.428571,1.04,0.04,2.03700,16358.142857,3243.857143
31170,2021-04-13,TYKS,60-69,78668.838080,9.355460,10.057508,19.412968,27.833021,1516.715931,2652.000000,40.428571,2.08,0.12,5.57750,33148.000000,1568.857143
31901,2021-04-13,TYKS,70-79,15665.811547,4.037448,4.255594,8.293042,12.244978,718.574720,749.142857,57.571429,5.59,0.20,20.29240,83506.285714,593.142857
32632,2021-04-13,TYKS,80+,5803.102295,2.768628,2.880590,5.649219,8.570059,528.449856,57.714286,183.714286,6.76,0.04,68.02610,50020.428571,2096.428571
33363,2021-04-13,Åland,0-9,2865.884319,0.373632,3.736321,4.109953,24.659719,333.346009,0.000000,0.000000,0.00,0.00,0.00000,0.000000,0.000000
34094,2021-04-13,Åland,10-19,3088.875855,0.483064,1.273221,1.756285,10.537712,163.830148,0.000000,0.285714,0.00,0.00,0.00000,24.000000,1.571429
34825,2021-04-13,Åland,20-29,2530.722891,0.545597,0.874748,1.420345,8.522069,180.334695,0.000000,1.857143,0.00,0.00,0.00000,181.000000,68.714286
35556,2021-04-13,Åland,30-39,3447.630302,0.551850,0.715907,1.267757,7.606544,144.495397,0.000000,4.000000,0.00,0.00,0.00000,247.000000,94.000000
36287,2021-04-13,Åland,40-49,3392.160705,0.462741,0.542195,1.004936,6.029615,113.804745,0.000000,5.000000,0.00,0.00,0.00000,340.000000,125.000000
37018,2021-04-13,Åland,50-59,3544.899579,0.311100,0.345210,0.656310,3.937858,86.363396,0.571429,5.142857,0.00,0.00,0.00000,522.142857,125.285714
37749,2021-04-13,Åland,60-69,2888.593103,0.154768,0.166382,0.321150,1.926901,41.730274,40.714286,2.714286,0.00,0.00,0.00000,963.428571,89.428571
38480,2021-04-13,Åland,70-79,314.688797,0.068786,0.072502,0.141288,0.847729,19.750757,13.285714,7.000000,0.00,0.00,0.00000,2907.571429,77.000000
39211,2021-04-13,Åland,80+,136.254548,0.048463,0.050423,0.098885,0.593312,13.053255,3.000000,30.285714,0.00,0.00,0.00000,1562.000000,341.571429

In [4]:
epidemic_date_erva = epidemic_finland.loc[(epidemic_finland['date'] == '2021-04-13') & (epidemic_finland['erva'] == 'HYKS')]
epidemic_date_erva

,date,erva,age,susceptible,infected detected,infected undetected,infected,exposed,recovered,First dose,Second dose,ward,icu,death,First dose cumulative,Second dose cumulative
468,2021-04-13,HYKS,0-9,171783.932258,108.476110,1084.761099,1193.237209,1072.697759,47563.132775,0.000000,0.000000,0.00,0.00,0.34080,0.000000,0.000000
1199,2021-04-13,HYKS,10-19,210477.420330,131.034263,345.369508,476.403772,458.390477,25528.928279,82.428571,8.857143,0.00,0.00,0.11360,1371.857143,225.714286
1930,2021-04-13,HYKS,20-29,231304.956679,135.017903,216.472496,351.490399,370.710019,29001.088618,519.857143,87.142857,2.04,0.00,0.68160,11643.714286,3361.285714
2661,2021-04-13,HYKS,30-39,275129.287428,144.359856,187.276067,331.635923,330.884650,22295.560570,820.285714,121.000000,3.06,0.00,0.14768,18082.571429,5278.000000
3392,2021-04-13,HYKS,40-49,241332.412919,117.065912,137.166407,254.232319,262.288231,17276.986531,1111.000000,130.285714,4.08,0.00,3.63520,26858.000000,5908.571429
4123,2021-04-13,HYKS,50-59,229566.101762,91.378072,101.397258,192.775330,171.296831,13656.864649,1431.285714,154.857143,8.16,0.23,11.92800,45532.571429,6682.714286
4854,2021-04-13,HYKS,60-69,160621.392358,41.000828,44.077591,85.078419,83.820213,6689.699009,4106.000000,103.285714,16.32,0.69,32.66000,88509.000000,3804.571429
5585,2021-04-13,HYKS,70-79,38892.513238,17.625396,18.577709,36.203105,36.876221,3205.397436,2233.000000,88.857143,43.86,1.15,118.82560,169873.000000,3156.714286
6316,2021-04-13,HYKS,80+,9655.752291,12.041660,12.528618,24.570278,25.809061,2619.026941,152.285714,257.142857,53.04,0.23,398.33840,93819.571429,14763.285714

In [5]:
epidemic_date_erva['First dose cumulative']

468          0.000000
1199      1371.857143
1930     11643.714286
2661     18082.571429
3392     26858.000000
4123     45532.571429
4854     88509.000000
5585    169873.000000
6316     93819.571429
Name: First dose cumulative, dtype: float64

In [6]:
epidemic_range = epidemic_finland.loc[(epidemic_finland['date'] <= '2021-04-13') & (epidemic_finland['date'] >= '2021-01-01')]
epidemic_range

,date,erva,age,susceptible,infected detected,infected undetected,infected,exposed,recovered,First dose,Second dose,ward,icu,death,First dose cumulative,Second dose cumulative
366,2021-01-01,HYKS,0-9,208107.717776,48.684900,486.849003,535.533903,351.304274,12618.444048,0.0,0.000000,0.0,0.0,0.0000,0.0,0.000000
367,2021-01-02,HYKS,0-9,208045.931457,37.022222,370.222222,407.244444,355.658683,12804.165415,0.0,0.000000,0.0,0.0,0.0000,0.0,0.000000
368,2021-01-03,HYKS,0-9,207915.301250,33.428490,334.284900,367.713390,387.834190,12942.151170,0.0,0.000000,0.0,0.0,0.2316,0.0,0.000000
369,2021-01-04,HYKS,0-9,207870.123462,31.936752,319.367521,351.304274,354.695738,13036.876526,0.0,0.000000,0.0,0.0,0.2316,0.0,0.000000
370,2021-01-05,HYKS,0-9,207728.739593,32.332608,323.326076,355.658683,374.623773,13153.977951,0.0,0.000000,0.0,0.0,0.2370,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39207,2021-04-09,Åland,80+,146.827619,0.145957,0.151859,0.297816,0.119126,12.755440,2.0,0.285714,0.0,0.0,0.0000,1552.0,280.428571
39208,2021-04-10,Åland,80+,144.847859,0.145957,0.151859,0.297816,0.098885,12.755440,2.0,0.285714,0.0,0.0,0.0000,1554.0,280.714286
39209,2021-04-11,Åland,80+,142.617127,0.087574,0.091115,0.178689,0.329618,12.874566,2.0,0.285714,0.0,0.0,0.0000,1556.0,281.000000
39210,2021-04-12,Åland,80+,139.485280,0.058383,0.060744,0.119126,0.461465,12.934129,3.0,30.285714,0.0,0.0,0.0000,1559.0,311.285714
39211,2021-04-13,Åland,80+,136.254548,0.048463,0.050423,0.098885,0.593312,13.053255,3.0,30.285714,0.0,0.0,0.0000,1562.0,341.571429

In [7]:
epidemic_range_erva_age = epidemic_range[(epidemic_range['age'] == '65+') & (epidemic_range['erva'] == 'HYKS')]
epidemic_range_erva_age

Empty DataFrame
Columns: [date, erva, age, susceptible, infected detected, infected undetected, infected, exposed, recovered, First dose, Second dose, ward, icu, death, First dose cumulative, Second dose cumulative]
Index: []

In [8]:
first_dose_hyks_65 = np.sum(epidemic_range_erva_age['First dose'].values)
first_dose_hyks_65

0.0