In [38]:
import logging
import os
from fetch_data import (
    fetch_thl_cases_erva_daily, construct_cases_age_erva_daily,
    static_population_erva_age, construct_finland_age_cases_daily,
    compartment_values_daily
)
import pandas as pd
import numpy as np

In [2]:
curr_dir = os.getcwd()
stats_dir = os.path.join(curr_dir, 'stats')
logger = logging.getLogger(__name__)
curr_dir

'/Users/aponcedeleonch/Documents/Aalto/Courses/MasterThesis/Code/jeta'

In [4]:
age_file = os.path.join(stats_dir, 'erva_population_age_2020_9.csv')
pop_age, pop_age_prop = static_population_erva_age(logger, age_file)
pop_age

     erva    Age   Total
1     All   0-10  547942
2     All  11-20  611151
3     All  21-30  661400
4     All  31-40  718761
5     All  41-50  666421
..    ...    ...     ...
65  Åland  41-50    3853
66  Åland  51-60    4158
67  Åland  61-70    3896
68  Åland  71-80    3243
69  Åland    80+    1712

[63 rows x 3 columns]

In [28]:
erva_cases = fetch_thl_cases_erva_daily(logger)

In [27]:
erva_cases.loc[erva_cases['Time'] >= '2021-01-04', ]

            Time   erva    val
2584  2021-01-04   HYKS  225.0
2585  2021-01-04    KYS   12.0
2586  2021-01-04    OYS   37.0
2587  2021-01-04   TAYS   38.0
2588  2021-01-04   TYKS   82.0
...          ...    ...    ...
5112  2021-12-31    KYS    0.0
5113  2021-12-31    OYS    0.0
5114  2021-12-31   TAYS    0.0
5115  2021-12-31   TYKS    0.0
5116  2021-12-31  Åland    0.0

[2172 rows x 3 columns]

In [16]:
age, age_prop = construct_finland_age_cases_daily(logger)

In [21]:
age_prop.loc[age_prop['Time'] >= '2021-01-04', ]

,Time,0-10,11-20,21-30,31-40,41-50,51-60,61-70,71-80,80+
371,2021-01-04,0.049073,0.108506,0.250818,0.193566,0.155398,0.117775,0.064885,0.033806,0.026172
372,2021-01-05,0.049073,0.108506,0.250818,0.193566,0.155398,0.117775,0.064885,0.033806,0.026172
373,2021-01-06,0.049073,0.108506,0.250818,0.193566,0.155398,0.117775,0.064885,0.033806,0.026172
374,2021-01-07,0.049073,0.108506,0.250818,0.193566,0.155398,0.117775,0.064885,0.033806,0.026172
375,2021-01-08,0.049073,0.108506,0.250818,0.193566,0.155398,0.117775,0.064885,0.033806,0.026172
...,...,...,...,...,...,...,...,...,...,...
730,2021-12-29,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
731,2021-12-30,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
732,2021-12-31,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
733,2022-01-01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
734,2022-01-02,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [32]:
age_days = construct_cases_age_erva_daily(logger)

In [35]:
age_days.loc[age_days['Time'] >= '2021-01-04', ]

,Time,erva,0-10,11-20,21-30,31-40,41-50,51-60,61-70,71-80,80+
2214,2021-01-04,HYKS,11.041439,24.413850,56.434024,43.552345,34.964558,26.499455,14.599237,7.606325,5.888768
2215,2021-01-04,KYS,0.588877,1.302072,3.009815,2.322792,1.864776,1.413304,0.778626,0.405671,0.314068
2216,2021-01-04,OYS,1.815703,4.014722,9.280262,7.161941,5.749727,4.357688,2.400763,1.250818,0.968375
2217,2021-01-04,TAYS,1.864776,4.123228,9.531080,7.355507,5.905125,4.475463,2.465649,1.284624,0.994547
2218,2021-01-04,TYKS,4.023991,8.897492,20.567067,15.872410,12.742639,9.657579,5.320611,2.772083,2.146129
...,...,...,...,...,...,...,...,...,...,...,...
4381,2021-12-31,KYS,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4382,2021-12-31,OYS,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4383,2021-12-31,TAYS,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4384,2021-12-31,TYKS,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4385,2021-12-31,Åland,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [39]:
comp = compartment_values_daily(logger, age_file)

In [40]:
comp

,date,erva,age,susceptible,infected detected,infected undetected,infected,exposed,recovered detected,recovered undetected,recovered
0,2020-01-01,HYKS,0-10,221613,0,0,0,0,0,0,0
1,2020-01-02,HYKS,0-10,221613,0,0,0,0,0,0,0
2,2020-01-03,HYKS,0-10,221613,0,0,0,0,0,0,0
3,2020-01-04,HYKS,0-10,221613,0,0,0,0,0,0,0
4,2020-01-05,HYKS,0-10,221613,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
726,2021-12-27,Åland,80+,1712,0,0,0,0,0,0,0
727,2021-12-28,Åland,80+,1712,0,0,0,0,0,0,0
728,2021-12-29,Åland,80+,1712,0,0,0,0,0,0,0
729,2021-12-30,Åland,80+,1712,0,0,0,0,0,0,0
730,2021-12-31,Åland,80+,1712,0,0,0,0,0,0,0