In [1]:
import logging
import os
from fetch_data import (
    fetch_thl_cases_erva_daily, construct_cases_age_erva_daily,
    static_population_erva_age, construct_finland_age_cases_daily,
    compartment_values_daily
)
import pandas as pd
import numpy as np

In [2]:
curr_dir = os.getcwd()
stats_dir = os.path.join(curr_dir, 'stats')
logger = logging.getLogger(__name__)
curr_dir

'/Users/aponcedeleonch/Documents/Aalto/Courses/MasterThesis/Code/jeta'

In [4]:
age_file = os.path.join(stats_dir, 'erva_population_age_2020_20.csv')
pop_age, pop_age_prop = static_population_erva_age(logger, age_file)
pop_age

     erva age_group   Total
0     All       0-9  547942
1     All     10-19  611151
2     All     20-29  661400
3     All     30-39  718761
4     All     40-49  666421
5     All     50-59  714929
6     All     60-69  711226
7     All       70+  901963
8    HYKS       0-9  221613
9    HYKS     10-19  238313
10   HYKS     20-29  272674
11   HYKS     30-39  316173
12   HYKS     40-49  285988
13   HYKS     50-59  289128
14   HYKS     60-69  256006
15   HYKS       70+  318287
16    KYS       0-9   71910
17    KYS     10-19   84213
18    KYS     20-29   92466
19    KYS     30-39   91390
20    KYS     40-49   85302
21    KYS     50-59  103387
22    KYS     60-69  119723
23    KYS       70+  148843
24    OYS       0-9   80308
25    OYS     10-19   91471
26    OYS     20-29   84511
27    OYS     30-39   88448
28    OYS     40-49   82348
29    OYS     50-59   91225
30    OYS     60-69  100322
31    OYS       70+  117930
32   TAYS       0-9   88071
33   TAYS     10-19  100864
34   TAYS     20-29  105275
35   TAYS     30-39  112809
36   TAYS     40-49  106951
37   TAYS     50-59  115157
38   TAYS     60-69  117896
39   TAYS       70+  155658
40   TYKS       0-9   82812
41   TYKS     10-19   93001
42   TYKS     20-29  103572
43   TYKS     30-39  106093
44   TYKS     40-49  101979
45   TYKS     50-59  111874
46   TYKS     60-69  113383
47   TYKS       70+  156290
48  Åland       0-9    3228
49  Åland     10-19    3289
50  Åland     20-29    2902
51  Åland     30-39    3848
52  Åland     40-49    3853
53  Åland     50-59    4158
54  Åland     60-69    3896
55  Åland       70+    4955

In [5]:
erva_cases = fetch_thl_cases_erva_daily(logger)

In [6]:
erva_cases.loc[erva_cases['Time'] >= '2021-01-04', ]

            Time   erva    val
2584  2021-01-04   HYKS  225.0
2585  2021-01-04    KYS   12.0
2586  2021-01-04    OYS   37.0
2587  2021-01-04   TAYS   38.0
2588  2021-01-04   TYKS   82.0
...          ...    ...    ...
5112  2021-12-31    KYS    0.0
5113  2021-12-31    OYS    0.0
5114  2021-12-31   TAYS    0.0
5115  2021-12-31   TYKS    0.0
5116  2021-12-31  Åland    0.0

[2172 rows x 3 columns]

In [7]:
age, age_prop = construct_finland_age_cases_daily(logger)

In [8]:
age_prop.loc[age_prop['Time'] >= '2021-01-04', ]

,Time,0-9,10-19,20-29,30-39,40-49,50-59,60-69,70+
371,2021-01-04,0.049073,0.108506,0.250818,0.193566,0.155398,0.117775,0.064885,0.059978
372,2021-01-05,0.049073,0.108506,0.250818,0.193566,0.155398,0.117775,0.064885,0.059978
373,2021-01-06,0.049073,0.108506,0.250818,0.193566,0.155398,0.117775,0.064885,0.059978
374,2021-01-07,0.049073,0.108506,0.250818,0.193566,0.155398,0.117775,0.064885,0.059978
375,2021-01-08,0.049073,0.108506,0.250818,0.193566,0.155398,0.117775,0.064885,0.059978
...,...,...,...,...,...,...,...,...,...
730,2021-12-29,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
731,2021-12-30,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
732,2021-12-31,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
733,2022-01-01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
734,2022-01-02,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [9]:
age_days = construct_cases_age_erva_daily(logger)

In [10]:
age_days.loc[age_days['Time'] >= '2021-01-04', ]

,Time,erva,0-9,10-19,20-29,30-39,40-49,50-59,60-69,70+
2214,2021-01-04,HYKS,11.041439,24.413850,56.434024,43.552345,34.964558,26.499455,14.599237,13.495093
2215,2021-01-04,KYS,0.588877,1.302072,3.009815,2.322792,1.864776,1.413304,0.778626,0.719738
2216,2021-01-04,OYS,1.815703,4.014722,9.280262,7.161941,5.749727,4.357688,2.400763,2.219193
2217,2021-01-04,TAYS,1.864776,4.123228,9.531080,7.355507,5.905125,4.475463,2.465649,2.279171
2218,2021-01-04,TYKS,4.023991,8.897492,20.567067,15.872410,12.742639,9.657579,5.320611,4.918212
...,...,...,...,...,...,...,...,...,...,...
4381,2021-12-31,KYS,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4382,2021-12-31,OYS,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4383,2021-12-31,TAYS,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4384,2021-12-31,TYKS,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4385,2021-12-31,Åland,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [11]:
comp = compartment_values_daily(logger, age_file)

In [14]:
comp.loc[comp['date'] >= '2021-01-04', ]

,date,erva,age,susceptible,infected detected,infected undetected,infected,exposed,recovered detected,recovered undetected,recovered
369,2021-01-04,HYKS,0-9,219359,66,66,132,114,1004,1004,2008
370,2021-01-05,HYKS,0-9,219343,61,61,122,108,1020,1020,2040
371,2021-01-06,HYKS,0-9,219331,57,57,114,104,1032,1032,2064
372,2021-01-07,HYKS,0-9,219317,54,54,108,108,1040,1040,2080
373,2021-01-08,HYKS,0-9,219307,52,52,104,102,1050,1050,2100
...,...,...,...,...,...,...,...,...,...,...,...
726,2021-12-27,Åland,70+,4955,0,0,0,0,0,0,0
727,2021-12-28,Åland,70+,4955,0,0,0,0,0,0,0
728,2021-12-29,Åland,70+,4955,0,0,0,0,0,0,0
729,2021-12-30,Åland,70+,4955,0,0,0,0,0,0,0
730,2021-12-31,Åland,70+,4955,0,0,0,0,0,0,0