In [3]:
import logging
import os
from fetch_data import (
    fetch_thl_cases_erva_daily, construct_cases_age_erva_daily,
    static_population_erva_age, construct_finland_age_cases_daily,
    fetch_hs_hospitalizations,
)
import pandas as pd
import numpy as np

curr_dir = os.getcwd()
stats_dir = os.path.join(curr_dir, 'stats')
logger = logging.getLogger(__name__)
curr_dir

'/Users/aponcedeleonch/Documents/Aalto/Courses/MasterThesis/Code/jeta'

In [2]:
age_file = os.path.join(stats_dir, 'erva_population_age_2020.csv')
pop_age, pop_age_prop = static_population_erva_age(logger, age_file)
pop_age

     erva age_group   Total
0     All       0-9  547942
1     All     10-19  611151
2     All     20-29  661400
3     All     30-39  718761
4     All     40-49  666421
..    ...       ...     ...
58  Åland     40-49    3853
59  Åland     50-59    4158
60  Åland     60-69    3896
61  Åland     70-79    3243
62  Åland       80+    1712

[63 rows x 3 columns]

In [3]:
erva_cases = fetch_thl_cases_erva_daily(logger)

In [4]:
erva_cases.loc[erva_cases['Time'] >= '2021-01-04', ]

            Time   erva    val
2584  2021-01-04   HYKS  225.0
2585  2021-01-04    KYS   12.0
2586  2021-01-04    OYS   37.0
2587  2021-01-04   TAYS   38.0
2588  2021-01-04   TYKS   82.0
...          ...    ...    ...
5112  2021-12-31    KYS    0.0
5113  2021-12-31    OYS    0.0
5114  2021-12-31   TAYS    0.0
5115  2021-12-31   TYKS    0.0
5116  2021-12-31  Åland    0.0

[2172 rows x 3 columns]

In [5]:
age, age_prop = construct_finland_age_cases_daily(logger)

In [6]:
age.loc[age['Time'] >= '2021-01-04', ]

,Time,0-9,10-19,20-29,30-39,40-49,50-59,60-69,70-79,80+
371,2021-01-04,12.857143,28.428571,65.714286,50.714286,40.714286,30.857143,17.0,8.857143,6.857143
372,2021-01-05,12.857143,28.428571,65.714286,50.714286,40.714286,30.857143,17.0,8.857143,6.857143
373,2021-01-06,12.857143,28.428571,65.714286,50.714286,40.714286,30.857143,17.0,8.857143,6.857143
374,2021-01-07,12.857143,28.428571,65.714286,50.714286,40.714286,30.857143,17.0,8.857143,6.857143
375,2021-01-08,12.857143,28.428571,65.714286,50.714286,40.714286,30.857143,17.0,8.857143,6.857143
...,...,...,...,...,...,...,...,...,...,...
730,2021-12-29,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
731,2021-12-30,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
732,2021-12-31,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
733,2022-01-01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
734,2022-01-02,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000

In [7]:
age_prop.loc[age_prop['Time'] >= '2021-01-04', ]

,Time,0-9,10-19,20-29,30-39,40-49,50-59,60-69,70-79,80+
371,2021-01-04,0.049073,0.108506,0.250818,0.193566,0.155398,0.117775,0.064885,0.033806,0.026172
372,2021-01-05,0.049073,0.108506,0.250818,0.193566,0.155398,0.117775,0.064885,0.033806,0.026172
373,2021-01-06,0.049073,0.108506,0.250818,0.193566,0.155398,0.117775,0.064885,0.033806,0.026172
374,2021-01-07,0.049073,0.108506,0.250818,0.193566,0.155398,0.117775,0.064885,0.033806,0.026172
375,2021-01-08,0.049073,0.108506,0.250818,0.193566,0.155398,0.117775,0.064885,0.033806,0.026172
...,...,...,...,...,...,...,...,...,...,...
730,2021-12-29,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
731,2021-12-30,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
732,2021-12-31,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
733,2022-01-01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
734,2022-01-02,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [8]:
age_days = construct_cases_age_erva_daily(logger)

In [9]:
age_days.loc[age_days['Time'] >= '2021-01-04', ]

,Time,erva,0-9,10-19,20-29,30-39,40-49,50-59,60-69,70-79,80+
2214,2021-01-04,HYKS,11.041439,24.413850,56.434024,43.552345,34.964558,26.499455,14.599237,7.606325,5.888768
2215,2021-01-04,KYS,0.588877,1.302072,3.009815,2.322792,1.864776,1.413304,0.778626,0.405671,0.314068
2216,2021-01-04,OYS,1.815703,4.014722,9.280262,7.161941,5.749727,4.357688,2.400763,1.250818,0.968375
2217,2021-01-04,TAYS,1.864776,4.123228,9.531080,7.355507,5.905125,4.475463,2.465649,1.284624,0.994547
2218,2021-01-04,TYKS,4.023991,8.897492,20.567067,15.872410,12.742639,9.657579,5.320611,2.772083,2.146129
...,...,...,...,...,...,...,...,...,...,...,...
4381,2021-12-31,KYS,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4382,2021-12-31,OYS,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4383,2021-12-31,TAYS,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4384,2021-12-31,TYKS,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4385,2021-12-31,Åland,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [10]:
comp = compartment_values_daily(logger, age_file)

In [11]:
comp.loc[comp['date'] >= '2021-01-04', ]

,date,erva,age,susceptible,infected detected,infected undetected,infected,exposed,recovered
369,2021-01-04,HYKS,0-9,207567.673647,69.976068,699.760684,769.736752,657.092879,12618.496722
370,2021-01-05,HYKS,0-9,207475.62692,64.133747,641.337472,705.471219,627.683772,12804.218089
371,2021-01-06,HYKS,0-9,207404.876654,59.735716,597.357163,657.092879,608.826622,12942.203844
372,2021-01-07,HYKS,0-9,207309.544114,57.062161,570.621611,627.683772,638.842914,13036.929201
373,2021-01-08,HYKS,0-9,207244.438291,55.347875,553.478747,608.826622,605.704462,13154.030625
...,...,...,...,...,...,...,...,...,...
726,2021-12-27,Åland,80+,1698.50724,0.0,0.0,0.0,0.0,13.49276
727,2021-12-28,Åland,80+,1698.50724,0.0,0.0,0.0,0.0,13.49276
728,2021-12-29,Åland,80+,1698.50724,0.0,0.0,0.0,0.0,13.49276
729,2021-12-30,Åland,80+,1698.50724,0.0,0.0,0.0,0,13.49276
730,2021-12-31,Åland,80+,1698.50724,0.0,0.0,0.0,0,13.49276

In [12]:
epidemic_state = full_epidemic_state_finland(logger, age_file)

In [13]:
epidemic_state.loc[epidemic_state['date'] >= '2021-01-04', ]

,date,erva,age,susceptible,infected detected,infected undetected,infected,exposed,recovered,First dose,Second dose,First dose cumulative,Second dose cumulative
369,2021-01-04,HYKS,0-9,207567.673647,69.976068,699.760684,769.736752,657.092879,12618.496722,0,0,0,0
370,2021-01-05,HYKS,0-9,207475.626920,64.133747,641.337472,705.471219,627.683772,12804.218089,0,0,0,0
371,2021-01-06,HYKS,0-9,207404.876654,59.735716,597.357163,657.092879,608.826622,12942.203844,0,0,0,0
372,2021-01-07,HYKS,0-9,207309.544114,57.062161,570.621611,627.683772,638.842914,13036.929201,0,0,0,0
373,2021-01-08,HYKS,0-9,207244.438291,55.347875,553.478747,608.826622,605.704462,13154.030625,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
39469,2021-12-27,Åland,80+,165.507240,0.000000,0.000000,0.000000,0.000000,13.492760,0,0,1533,266
39470,2021-12-28,Åland,80+,165.507240,0.000000,0.000000,0.000000,0.000000,13.492760,0,0,1533,266
39471,2021-12-29,Åland,80+,165.507240,0.000000,0.000000,0.000000,0.000000,13.492760,0,0,1533,266
39472,2021-12-30,Åland,80+,165.507240,0.000000,0.000000,0.000000,0.000000,13.492760,0,0,1533,266
39473,2021-12-31,Åland,80+,165.507240,0.000000,0.000000,0.000000,0.000000,13.492760,0,0,1533,266

In [4]:
hosp_by_erva = fetch_hs_hospitalizations(logger)

In [5]:
hosp_by_erva

            date  erva  hospitalized  ward  icu  dead
0     2020-03-21  HYKS             0     0    0     1
2     2020-03-25  HYKS            63    45   18     2
3     2020-03-25   KYS             6     3    3     0
4     2020-03-25   OYS             4     3    1     0
5     2020-03-25  TAYS             7     7    0     1
...          ...   ...           ...   ...  ...   ...
1475  2021-04-16  HYKS           100    79   21   575
1476  2021-04-16   KYS            11     6    5    81
1477  2021-04-16   OYS            10    10    1    55
1478  2021-04-16  TAYS            19    17    2    79
1479  2021-04-16  TYKS            21    16    5    97

[1233 rows x 6 columns]

In [25]:
ep8 = pd.read_csv('out/epidemic_finland_8.csv')

In [31]:
ep8_zero = ep8.loc[ep8['date'] == '2021-04-19', :]

In [32]:
ep8_zero

,date,erva,age,susceptible,infected detected,infected undetected,infected,exposed,recovered,First dose,Second dose,First dose cumulative,Second dose cumulative
474,2021-04-19,HYKS,0-9,171968.029333,96.835420,968.354204,1065.189624,153.035778,48426.745264,0.0,0.0,0.0,0.0
1205,2021-04-19,HYKS,10-19,210510.226415,111.297853,293.349876,404.647729,58.135733,25862.990123,0.0,0.0,1477.0,252.0
1936,2021-04-19,HYKS,20-29,230974.806567,123.873882,198.605429,322.479310,46.330598,29230.383525,0.0,0.0,12100.0,3556.0
2667,2021-04-19,HYKS,30-39,274604.745607,123.245081,159.884157,283.129238,40.677174,22519.447981,0.0,0.0,18725.0,5522.0
3398,2021-04-19,HYKS,40-49,240229.218303,113.184258,132.618263,245.802521,35.314445,17442.664731,0.0,0.0,28035.0,6167.0
4129,2021-04-19,HYKS,50-59,227751.874175,72.940966,80.938608,153.879574,22.107876,13796.138375,0.0,0.0,47404.0,7020.0
4860,2021-04-19,HYKS,60-69,153783.865135,32.068873,34.475368,66.544241,9.560410,6747.030213,0.0,0.0,95399.0,4039.0
5591,2021-04-19,HYKS,70+,40662.565066,29.553667,31.150475,60.704142,8.721363,5875.009428,0.0,0.0,271680.0,18908.0
6322,2021-04-19,KYS,0-9,144220.362234,6.887299,68.872987,75.760286,9.091234,4537.786246,0.0,0.0,0.0,0.0
7053,2021-04-19,KYS,10-19,116541.544767,7.915921,20.864145,28.780066,3.453608,2706.221559,0.0,0.0,443.0,122.0
7784,2021-04-19,KYS,20-29,96255.678987,8.810376,14.125564,22.935940,2.752313,3125.632760,0.0,0.0,3980.0,1750.0
8515,2021-04-19,KYS,30-39,76887.498625,8.765653,11.371562,20.137215,2.416466,2277.947694,0.0,0.0,6114.0,3034.0
9246,2021-04-19,KYS,40-49,74534.016243,8.050089,9.432309,17.482398,2.097888,1754.403471,0.0,0.0,7905.0,3410.0
9977,2021-04-19,KYS,50-59,76455.372654,5.187835,5.756658,10.944493,1.313339,1410.369513,0.0,0.0,14588.0,4256.0
10708,2021-04-19,KYS,60-69,33723.045659,2.280859,2.452018,4.732876,0.567945,698.653519,0.0,0.0,37483.0,2570.0
11439,2021-04-19,KYS,70+,-33690.201104,2.101968,2.215539,4.317507,0.518101,597.365497,0.0,0.0,124478.0,5008.0
12170,2021-04-19,OYS,0-9,87654.832905,6.474061,64.740608,71.214669,7.576029,3491.376397,0.0,0.0,0.0,0.0
12901,2021-04-19,OYS,10-19,97796.036351,7.440966,19.612296,27.053262,2.878007,2144.032380,0.0,0.0,352.0,83.0
13632,2021-04-19,OYS,20-29,76437.387474,8.281753,13.278030,21.559783,2.293594,2512.759149,0.0,0.0,3374.0,1507.0
14363,2021-04-19,OYS,30-39,110688.185471,8.239714,10.689268,18.928982,2.013721,1916.871826,0.0,0.0,5304.0,2509.0
15094,2021-04-19,OYS,40-49,75750.891577,7.567084,8.866370,16.433454,1.748240,1474.926728,0.0,0.0,7267.0,2626.0
15825,2021-04-19,OYS,50-59,76693.343974,4.876565,5.411258,10.287824,1.094449,1208.273753,0.0,0.0,13558.0,3302.0
16556,2021-04-19,OYS,60-69,51961.529498,2.144007,2.304897,4.448904,0.473288,598.548311,0.0,0.0,27743.0,1820.0
17287,2021-04-19,OYS,70+,-9854.353841,1.975850,2.082606,4.058456,0.431751,533.863634,0.0,0.0,97764.0,3567.0
18018,2021-04-19,TAYS,0-9,82054.006884,14.050089,140.500894,154.550984,3.030411,5859.411720,0.0,0.0,0.0,0.0
18749,2021-04-19,TAYS,10-19,96989.773814,16.148479,42.562855,58.711335,1.151203,3247.363649,0.0,0.0,567.0,85.0
19480,2021-04-19,TAYS,20-29,97115.170515,17.973166,28.816150,46.789317,0.917438,3693.122731,0.0,0.0,4419.0,1554.0
20211,2021-04-19,TAYS,30-39,103000.892164,17.881932,23.197986,41.079918,0.805489,2762.222430,0.0,0.0,7004.0,2602.0
20942,2021-04-19,TAYS,40-49,94410.277151,16.422182,19.241910,35.664093,0.699296,2137.359461,0.0,0.0,10367.0,2733.0
21673,2021-04-19,TAYS,50-59,95814.769415,10.583184,11.743582,22.326766,0.437780,1682.466039,0.0,0.0,17637.0,3016.0
22404,2021-04-19,TAYS,60-69,75489.076340,4.652952,5.002116,9.655068,0.189315,824.079278,0.0,0.0,41573.0,1801.0
23135,2021-04-19,TAYS,70+,21828.120531,4.288014,4.519699,8.807713,0.172700,696.899055,0.0,0.0,133124.0,5738.0
23866,2021-04-19,TYKS,0-9,144437.625845,27.686941,276.869410,304.556351,34.849732,11512.968072,0.0,0.0,0.0,0.0
24597,2021-04-19,TYKS,10-19,106315.046325,31.822004,83.873862,115.695866,13.238830,6192.018979,0.0,0.0,747.0,94.0
25328,2021-04-19,TYKS,20-29,98966.284113,35.417710,56.784767,92.202477,10.550532,7132.962878,0.0,0.0,5672.0,1864.0
26059,2021-04-19,TYKS,30-39,88620.818594,35.237925,45.713678,80.951603,9.263119,5198.966685,0.0,0.0,8069.0,2929.0
26790,2021-04-19,TYKS,40-49,77809.034847,32.361360,37.917882,70.279241,8.041903,4014.644008,0.0,0.0,11099.0,3141.0
27521,2021-04-19,TYKS,50-59,82020.944864,20.855098,23.141764,43.996862,5.034467,3109.023807,0.0,0.0,18393.0,3436.0
28252,2021-04-19,TYKS,60-69,40508.378449,9.169052,9.857111,19.026163,2.177123,1527.418265,0.0,0.0,40755.0,1721.0
28983,2021-04-19,TYKS,70+,-30782.918019,8.449911,8.906466,17.356376,1.986053,1256.575590,0.0,0.0,135600.0,3638.0
29714,2021-04-19,Åland,0-9,3538.044408,2.066190,20.661896,22.728086,1.515206,333.712300,0.0,0.0,0.0,0.0
30445,2021-04-19,Åland,10-19,3030.928169,2.374776,6.259243,8.634020,0.575601,163.862210,0.0,0.0,24.0,3.0
31176,2021-04-19,Åland,20-29,2920.391765,2.643113,4.237669,6.880782,0.458719,180.268735,0.0,0.0,181.0,77.0
31907,2021-04-19,Åland,30-39,2504.043896,2.629696,3.411469,6.041164,0.402744,144.512195,0.0,0.0,247.0,107.0
32638,2021-04-19,Åland,40-49,3388.607790,2.415027,2.829693,5.244720,0.349648,113.797842,0.0,0.0,340.0,143.0
33369,2021-04-19,Åland,50-59,3240.118183,1.556351,1.726997,3.283348,0.218890,86.379579,0.0,0.0,523.0,145.0
34100,2021-04-19,Åland,60-69,3038.756474,0.684258,0.735605,1.419863,0.094658,41.729006,0.0,0.0,1076.0,99.0
34831,2021-04-19,Åland,70+,478.784900,0.630590,0.664662,1.295252,0.086350,32.833498,0.0,0.0,4442.0,344.0

In [33]:
ep8_zero = ep8_zero[~ep8_zero['erva'].str.contains('land')]
ep8_zero = ep8_zero.drop(columns=['date', 'erva', 'age', 'First dose', 'Second dose', 'Second dose cumulative', 'infected detected', 'infected undetected'])
ep8_zero

,susceptible,infected,exposed,recovered,First dose cumulative
474,171968.029333,1065.189624,153.035778,48426.745264,0.0
1205,210510.226415,404.647729,58.135733,25862.990123,1477.0
1936,230974.806567,322.479310,46.330598,29230.383525,12100.0
2667,274604.745607,283.129238,40.677174,22519.447981,18725.0
3398,240229.218303,245.802521,35.314445,17442.664731,28035.0
4129,227751.874175,153.879574,22.107876,13796.138375,47404.0
4860,153783.865135,66.544241,9.560410,6747.030213,95399.0
5591,40662.565066,60.704142,8.721363,5875.009428,271680.0
6322,144220.362234,75.760286,9.091234,4537.786246,0.0
7053,116541.544767,28.780066,3.453608,2706.221559,443.0
7784,96255.678987,22.935940,2.752313,3125.632760,3980.0
8515,76887.498625,20.137215,2.416466,2277.947694,6114.0
9246,74534.016243,17.482398,2.097888,1754.403471,7905.0
9977,76455.372654,10.944493,1.313339,1410.369513,14588.0
10708,33723.045659,4.732876,0.567945,698.653519,37483.0
11439,-33690.201104,4.317507,0.518101,597.365497,124478.0
12170,87654.832905,71.214669,7.576029,3491.376397,0.0
12901,97796.036351,27.053262,2.878007,2144.032380,352.0
13632,76437.387474,21.559783,2.293594,2512.759149,3374.0
14363,110688.185471,18.928982,2.013721,1916.871826,5304.0
15094,75750.891577,16.433454,1.748240,1474.926728,7267.0
15825,76693.343974,10.287824,1.094449,1208.273753,13558.0
16556,51961.529498,4.448904,0.473288,598.548311,27743.0
17287,-9854.353841,4.058456,0.431751,533.863634,97764.0
18018,82054.006884,154.550984,3.030411,5859.411720,0.0
18749,96989.773814,58.711335,1.151203,3247.363649,567.0
19480,97115.170515,46.789317,0.917438,3693.122731,4419.0
20211,103000.892164,41.079918,0.805489,2762.222430,7004.0
20942,94410.277151,35.664093,0.699296,2137.359461,10367.0
21673,95814.769415,22.326766,0.437780,1682.466039,17637.0
22404,75489.076340,9.655068,0.189315,824.079278,41573.0
23135,21828.120531,8.807713,0.172700,696.899055,133124.0
23866,144437.625845,304.556351,34.849732,11512.968072,0.0
24597,106315.046325,115.695866,13.238830,6192.018979,747.0
25328,98966.284113,92.202477,10.550532,7132.962878,5672.0
26059,88620.818594,80.951603,9.263119,5198.966685,8069.0
26790,77809.034847,70.279241,8.041903,4014.644008,11099.0
27521,82020.944864,43.996862,5.034467,3109.023807,18393.0
28252,40508.378449,19.026163,2.177123,1527.418265,40755.0
28983,-30782.918019,17.356376,1.986053,1256.575590,135600.0

In [36]:
ep8_zero_npy = ep8_zero.values
ep8_zero_npy = ep8_zero_npy.reshape(8,5,5)
ep8_zero_npy[0, ]

array([[1.71968029e+05, 1.06518962e+03, 1.53035778e+02, 4.84267453e+04,
        0.00000000e+00],
       [2.10510226e+05, 4.04647729e+02, 5.81357335e+01, 2.58629901e+04,
        1.47700000e+03],
       [2.30974807e+05, 3.22479310e+02, 4.63305980e+01, 2.92303835e+04,
        1.21000000e+04],
       [2.74604746e+05, 2.83129238e+02, 4.06771736e+01, 2.25194480e+04,
        1.87250000e+04],
       [2.40229218e+05, 2.45802521e+02, 3.53144447e+01, 1.74426647e+04,
        2.80350000e+04]])

In [40]:
N_g = 8 # number of age groups
N_p = 5 # number of ervas
N_t = 10

S_g = np.zeros((N_g,N_p,N_t))
I_g = np.zeros((N_g,N_p,N_t))
E_g = np.zeros((N_g,N_p,N_t))
R_g = np.zeros((N_g,N_p,N_t))
V_g = np.zeros((N_g,N_p,N_t))

In [41]:
for age_i in range(N_g):
    for erva_i in range(N_p):
        S_g[age_i, erva_i, 0] = ep8_zero_npy[age_i, erva_i, 0]/age_er[age_i, erva_i]
        I_g[age_i, erva_i, 0] = ep8_zero_npy[age_i, erva_i, 1]/age_er[age_i, erva_i]
        E_g[age_i, erva_i, 0] = ep8_zero_npy[age_i, erva_i, 2]/age_er[age_i, erva_i]
        R_g[age_i, erva_i, 0] = ep8_zero_npy[age_i, erva_i, 3]/age_er[age_i, erva_i]
        V_g[age_i, erva_i, 0] = ep8_zero_npy[age_i, erva_i, 4]/age_er[age_i, erva_i]

NameError: name 'age_er' is not defined

In [8]:
from fetch_data import fetch_hs_hospitalizations
from env_var import MAPPINGS, EPIDEMIC

In [12]:
hosp_by_erva = fetch_hs_hospitalizations(logger)
number_age_groups = 9
age_groups = MAPPINGS['age_groups'][number_age_groups]['names']
probs_age_icu = EPIDEMIC['p_c'][number_age_groups]
probs_age_ward = EPIDEMIC['p_H'][number_age_groups]
probs_age_death = EPIDEMIC['proportion_deaths_age'][number_age_groups]

hosp_by_erva_list = hosp_by_erva.values
dates = np.unique(hosp_by_erva_list[:, 0])
ervas = np.unique(hosp_by_erva_list[:, 1])

header = 'date;erva;age;ward;icu'
final_lines = [header, ]
for date in dates:
    for erva in ervas:
        values_day_erva = hosp_by_erva_list[np.where((hosp_by_erva_list[:, 0] == date) & (hosp_by_erva_list[:, 1] == erva))]
        ward_day_erva = 0 if len(values_day_erva[:, 3]) == 0 else values_day_erva[:, 3].item()
        icu_day_erva = 0 if len(values_day_erva[:, 4]) == 0 else values_day_erva[:, 3].item()
        death_day_erva = 0 if len(values_day_erva[:, 5]) == 0 else values_day_erva[:, 3].item()
        
        print(death_day_erva)

0
0
0
0
0
0
45
3
3
0
7
2
56
0
0
16
0
0
57
4
5
0
7
3
60
4
4
0
8
5
69
8
4
0
6
6
70
8
4
0
7
5
58
7
2
0
9
5
68
11
1
0
11
6
65
8
4
0
8
10
72
8
5
0
11
12
74
7
8
0
12
13
82
8
16
0
11
16
101
10
9
0
11
16
101
13
9
0
9
16
103
15
17
0
7
15
107
14
17
0
8
16
102
13
19
0
10
11
110
13
12
0
10
10
112
13
15
0
9
9
111
12
13
0
9
11
113
13
12
0
8
11
109
11
14
0
8
9
94
11
13
0
7
14
97
10
12
0
5
11
97
6
9
0
5
12
94
7
7
0
5
11
102
9
9
0
4
18
103
7
9
0
4
16
100
5
10
0
5
16
108
7
12
0
4
15
106
4
12
0
5
11
106
3
8
0
4
12
101
3
8
0
3
12
105
5
8
0
3
10
113
5
11
0
2
13
124
5
14
0
3
11
110
3
12
0
3
11
111
3
10
0
3
9
105
3
10
0
3
9
107
6
11
0
3
9
119
6
12
0
3
8
122
4
11
0
3
7
121
5
9
0
3
6
107
4
11
0
3
5
108
2
7
0
2
5
103
2
4
0
2
5
103
3
4
0
2
5
107
2
4
0
2
2
105
3
5
0
2
3
106
2
6
0
4
4
95
2
6
0
3
4
74
1
6
0
2
3
78
1
6
0
2
3
77
1
6
0
2
3
71
1
7
0
1
3
71
3
6
0
2
5
83
2
5
0
3
5
77
2
5
0
2
2
79
2
5
0
2
4
76
1
3
0
2
1
78
1
4
0
2
2
76
1
5
0
2
2
70
2
7
0
2
3
63
3
7
0
1
2
61
3
6
0
1
1
55
3
5
0
0
1
49
2
5
0
0
4
46
1
6
0
0
5
47
1
6
0
0
5
42
1
5
0
0
5
37
1
3
0
0
3
36
1
2
0
0
4
35
1
3
0
0
4
27
1
2
0
0
2
27
1
3
0
0
3
27
1
1
0
0
3
20
0
1
0
0
3
20
0
1
0
0
3
18
0
0
0
0
3
16
0
0
0
0
4
21
0
0
0
0
3
22
0
0
0
0
3
17
0
0
0
0
2
18
0
1
0
0
1
20
0
1
0
0
3
18
0
0
0
0
1
19
0
0
0
0
1
20
1
0
0
0
2
20
1
0
0
0
2
22
0
0
0
0
2
19
0
0
0
0
1
16
0
1
0
0
1
15
0
1
0
0
1
3
0
0
0
0
3
4
0
1
0
0
2
5
0
0
0
0
2
3
0
0
0
0
2
4
0
0
0
0
1
3
0
0
0
0
1
4
0
0
0
0
0
4
0
1
0
0
0
4
0
0
0
0
0
7
0
0
0
0
1
9
0
0
0
0
0
5
0
0
0
0
0
5
0
0
0
0
1
2
0
0
0
0
1
3
0
0
0
0
1
3
0
0
0
0
3
3
1
0
0
0
2
3
1
0
0
0
1
5
1
1
0
0
1
6
2
3
0
0
0
7
1
3
0
0
0
2
1
1
0
0
0
6
1
1
0
0
2
4
1
2
0
0
2
4
0
2
0
0
1
11
0
0
0
0
2
14
0
0
0
0
1
4
0
1
0
0
0
6
0
1
0
0
0
4
0
1
0
2
0
4
0
1
0
6
0
5
0
1
0
7
0
4
2
1
0
10
0
6
2
1
0
9
0
6
2
1
0
10
0
4
3
0
0
11
0
5
1
0
0
8
1
6
1
1
0
7
2
10
0
3
0
6
1
13
3
3
0
5
2
14
4
4
0
7
3
12
6
3
0
11
4
15
4
3
0
9
9
18
10
5
0
7
10
23
9
5
0
7
11
24
7
4
0
8
15
28
9
2
0
9
11
35
9
2
0
8
10
32
4
5
0
8
6
25
3
8
0
7
5
33
5
7
0
5
7
29
5
4
0
6
6
29
4
8
0
8
6
39
7
8
0
7
12
40
2
4
0
5
8
39
2
5
0
6
6
46
1
5
0
9
6
49
2
6
0
13
8
57
4
6
0
20
7
68
3
5
0
23
6
69
10
3
0
27
4
84
16
5
0
24
4
94
23
7
0
27
6
98
6
8
0
22
10
66
16
12
0
17
9
107
22
10
0
31
23
112
30
8
0
38
24
98
28
15
0
45
20
108
28
16
0
50
17
100
26
17
0
50
21
109
31
21
0
60
27
105
49
17
0
52
26
101
37
16
0
53
27
101
40
15
0
54
27
95
44
15
0
49
30
107
39
15
0
51
36
99
41
17
0
53
35
97
34
16
0
52
33
95
20
11
0
48
34
89
19
14
0
45
24
89
17
12
0
41
22
89
13
9
0
39
22
83
24
16
0
35
21
82
18
16
0
26
21
81
16
14
0
27
16
82
14
13
0
23
15
72
14
11
0
18
19
69
12
10
0
16
21
71
7
13
0
13
18
72
10
12
0
15
17
67
10
11
0
16
13
63
10
19
0
16
13
72
10
14
0
10
11
72
10
12
0
11
14
79
9
13
0
11
10
70
8
13
0
10
11
70
7
12
0
9
12
70
8
14
0
12
16
72
13
16
0
13
14
66
8
16
0
16
10
58
7
14
0
14
13
63
9
15
0
15
16
60
9
17
0
18
20
44
6
16
0
23
17
46
8
13
0
21
17
47
10
11
0
21
15
48
11
11
0
20
19
54
14
7
0
20
19
51
9
6
0
20
16
47
8
6
0
19
16
49
5
4
0
16
17
54
4
9
0
15
26
51
3
7
0
16
18
51
16
5
0
17
13
59
16
6
0
19
10
52
16
9
0
23
17
60
26
12
0
24
18
72
28
15
0
22
15
79
24
23
0
20
12
74
23
24
0
22
15
73
31
29
0
24
15
96
27
36
0
27
14
96
26
46
0
27
13
103
28
45
0
27
18
110
16
39
0
21
20
109
18
36
0
20
18
124
12
36
0
23
19
116
9
35
0
23
25
126
11
28
0
21
27
125
13
28
0
20
33
131
11
27
0
20
28
128
10
31
0
18
37
140
9
27
0
19
39
128
9
26
0
18
41
139
10
24
0
15
37
121
12
29
0
17
37
146
16
27
0
23
39
138
15
24
0
26
35
138
13
21
0
27
34
134
13
17
0
26
38
146
15
20
0
32
41
156
20
14
0
26
43
149
20
14
0
26
45
156
17
9
0
24
39
134
14
8
0
23
33
132
8
10
0
19
35
136
6
7
0
22
34
130
7
9
0
20
27
126
7
8
0
18
24
98
5
8
0
19
13
102
5
6
0
18
13
104
7
7
0
16
12
86
6
7
0
13
12
79
6
10
0
17
16
88
5
11
0
17
11
81
5
12
0
16
13
64
1
11
0
17
14

In [5]:
hosp_by_erva

            date  erva  hospitalized  ward  icu  dead
0     2020-03-21  HYKS             0     0    0     1
2     2020-03-25  HYKS            63    45   18     2
3     2020-03-25   KYS             6     3    3     0
4     2020-03-25   OYS             4     3    1     0
5     2020-03-25  TAYS             7     7    0     1
...          ...   ...           ...   ...  ...   ...
1493  2021-04-21  HYKS            86    64   22   585
1494  2021-04-21   KYS             7     1    6    81
1495  2021-04-21   OYS            12    11    1    56
1496  2021-04-21  TAYS            18    17    1    79
1497  2021-04-21  TYKS            19    14    5    98

[1248 rows x 6 columns]